
@{
    Layout = "_Layout";
}

    @*  start body*@
    <section >
        <center>
            <div class="m-2 bg-primary p-5 w-75">
                <h1> welcome to Home page  </h1>
                <p>  Route Academy </p>
            </div>
        </center>
    </section>
    @*  end body *@




